html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
}

h1 {
  padding: 16px 0;
  font-family: "Sedgwick Ave", cursive;
  font-weight: bold;
}

h2,h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}


/* AVATAR  */
.avatar-front-end,
.avatar-designer {
  width: 180px;
  height: 180px;
}

.avatar-front-end {
  background-image: url('img/firstAvatar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.avatar-front-end:hover,
.avatar-designer:hover {
  cursor: pointer;
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: all ease 0.2s;
}

.avatar-front-end:hover {
  background-image: url('img/secondAvatar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.avatar-front-end,
.avatar-designer {
  padding: 30px;
}

.avatar-designer {
  background-image: url('img/secondAvatar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.avatar-designer:hover {
  background-image: url('img/firstAvatar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.img-brand-cv {
  max-width: 120px;
  height: auto;
  margin: 0 16px;
}

.iconRedesSociais {
  width: 40px;
  height: auto;
}

.iconRedesSociais + :last-child {
  margin-right: 30px;
}

.iconRedesSociais:hover {
  box-shadow: rgba(10, 102, 194, 0.4) 0px 5px,
    rgba(10, 102, 194, 0.3) 0px 10px, rgba(10, 102, 194, 0.2) 0px 15px,
    rgba(10, 102, 194, 0.1) 0px 20px, rgba(10, 102, 194, 0.05) 0px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container-content {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.container-left, 
.container-right {
  width: 50%;
  min-height: 100%;
  flex-wrap: nowrap;
  padding: 30px;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.container-right {
  background: #333333;
  color: white;
}

h2 small {
  font-size: 12px!important;
}

.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}

.tag-cloud {
  display: inline-block;
  color: white;
  padding: 8px 20px;
  font-family: Arial;
  border-radius: 25px;
  background-color: #0f75c9;
  margin-top: 8px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}







@media(max-width: 1024px) {
  .container-content {
      flex-direction: column;
  }
  .container-left, .container-right {
      width: 100%;
  }
  .img-brand-cv {
    display: none;
  }
  
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

/* animação rotacional sem escala */
.rotate-in-center {
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}